.photo {
	background-color: #97CBFF;
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 20px;
}
.photo img {
	width: 200px;
	height: 200px;
	opacity: 0.7;
}
#album {
	margin-top: 30px;
	text-align: center;
}
/*.photo:nth-child(4n+1) {
	clear: both;
}*/