#main {
    width: 70%;
    max-width: 1180px;
}
.btn {
    border: 1px solid gray;
    background-color: gray;
    /*position: absolute;*/
    color: #fff;
    padding: 5px;
    /*right: 0px;*/
    cursor: pointer;
    display: inline;
    float: right;
    margin-left: 15px;
}
.btn:hover {
    border: 1px solid;
    background-color: #fff;
    color: #000;
}